<!-- Script Loader-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Footer -->
<footer class="footer">
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-md-4">
                <h4 style="font-size: 150%">Apostolic Men Wear-House</h4>
                <hr class="light" />
                <p>1(800)777-0000</p>
                <p>info@ApostolicMenWear.com</p>
                <p>7777 Holy Street</p>
                <p>Holycity,Holystate,77777</p>
            </div>
            <div class="col-md-4 padding">
                <h3>Connect With Us</h3>
                <hr class="light" />
                <a href="#"><i class="fab fa-facebook" style="font-size:80px"></i></a>
                <a href="#"><i class="fab fa-instagram" style="font-size:80px"></i></a>
                <a href="#"><i class="fab fa-youtube" style="font-size:80px"></i></a>
            </div>
            <div class="col-md-4">
                <h3>Hours</h3>
                <hr class="light" />
                <p>Weakdays: 8am - 5pm</p>
                <p>Saturday: 10am - 3pm</p>
                <p>Sunday: Closed</p>
            </div>
            <div class="col-12">
                <hr class="light" />
                <b>
                    &copy; 2020 Apostolic Men Wear-House |
                    <a href="#" style="color: white; text-decoration-line: underline">Tech Support</a>
                    [Ver: 3.1.2]
                </b>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
